<div class="ContentsForm">
	<div>
		<h4 class="Title2">Project Manager</h2>
			<p> The Project Manager allows user to create new projects and displays existing ones. Also, it provides all features required to manage each project. Key features like Edit, Delete, Publish, Clone or Test allows users to manage projects on a single screen. For testing an App, please click on "Test App" on the top menu and register test device(s) before publishing the App.</p>

	</div>
 <h2 class="Title4">Create an App from Scratch</h2>
	<%= render 'form' %>
	<%= render 'list' %>

</div>