<div class="ContentsForm">
	<div class= "content-side">
		<h4 class="Title2">Project Manager</h2>
			<p> To start building your App, please start by giving a project name.The project name is a unique identifier that helps keep track of all our assets of the Application. You would also have to define the App name here, this name can be changed at any time.</p>

	

	<%= render 'form' %>
	
	</div>
	<%= render 'list' %>
</div>