
          <div id="footer">
            <div class="span6">
              <p>© 2012 Mobilous Inc. All Rights Reserved. &nbsp; &nbsp; &nbsp; <%= link_to "Terms and Service", "http://www.mobilous.com", :target => "new" -%>  </p>
            </div> <!-- span6 -->
          </div> <!-- footer -->


