<div class="actions">
	<h4> App Property :: Icons and Images </h4> 
	Click on the required boxes to upload required imaged for your App. </br>

	 High Resolution | Low Resolution

<p> Application Icon </p>
    <%= f.input :attach_file_name %><br>
	 <%= f.file_field :attach %><br>

<p> Splash Image </p>
<%= f.input :attach_file_name %><br>
 <%= f.file_field :attach %><br>
  </div>
