<div class="ContentsForm">
	<p>Select the device on which you want to run your application</p>
	<%= simple_form_for @application do |f| %>
   <%= f.input :device_type, :collection => ["phone", "tablet", "both"], :as => :radio %>
  <%= f.submit "Next"%>
<% end %>
</div>

