<div class="ContentsForm">
	<p>Select the device on which you want to run your application</p>
	  <img src="/assets/phone.jpg" width="140" height="200">
          <img src="/assets/phone.jpg" width="140" height="200">
          <img src="/assets/phone.jpg" width="140" height="200"></br>
   <%= f.input :device_type, :collection => ["Phone", "Tablet", "Both"], :as => :radio, :set_default => :Phone %>
   
</div>
