
<div class="ContentsForm">
  <h4>App Property :: Device Selection</h4>
    <p> Choose the device type/s on which you want to run your application </p>
  <div class ="">
  <p>Select the device on which you want to run your application</p>
  <%= f.input :application_name %>
  <%= f.input :version %>
  <h4> App Navigation Structure </h4>
  	  <img src="/assets/phone.jpg" width="160" height="200">
          <img src="/assets/phone.jpg" width="160" height="200">
          <img src="/assets/phone.jpg" width="160" height="200"></br>


    <div id="radio-btn">
   <%= f.input :application_type, :label => '', :collection => ["Navi-Based","Tab-Based","View-Based"], :as => :radio, :set_default => "Navi-Based" %>
 </div>
</div>
		<div class= "sidebar">
            Supported orientation</br></br>
            
          <img src="/assets/phone.jpg" width="40" height="60"></br></br>
          <img src="/assets/phone.jpg" width="40" height="60"></br></br>
          <img src="/assets/phone.jpg" width="40" height="60"></br></br>
          <img src="/assets/phone.jpg" width="40" height="60"></br>
          <div id="radio-vertical">
            <%= f.input :orientation, :label => '', :collection => ["Portrait", "Upside Down", "Landscape left", "Landscape Right"], :as => :radio, :set_default => "Portrait" %>
          </div>
        </div>
        </div>