<h2 class="Title4">Application Property:: Device Settings</h2>
<p>Choose the device type on which you want to run your application</p>

<%= simple_form_for @application, :html => { :multipart => true  } do |f| %>

<%= render "#{@application.current_step}_step", :f => f %></br>
<div id = "actions">

<%= f.submit "Back", :name => "back_button" %>
<%= f.submit "Next" %>
</div>
<% end %>



