<h2 class="Title4">Application Property:: Device Settings</h2>
<p>Choose the device type on which you want to run your application</p>
<%= render 'form' %>

<%= link_to 'Help' %> |
<%= link_to 'Back', applications_path %>
