<h2 class="Title4"></h2>


<%= simple_form_for @application do |f| %>

<%= render "#{@application.current_step}_step", :f => f %></br>
<div id = "actions">

<%= f.submit "Back", :name => "back_button" %>
<%= f.submit "Next" %>
</div>
<% end %>

<%#= link_to 'Back', applications_path %>
