<h2 class="Title4"></h2>


<%= simple_form_for @application do |f| %>

<%= render "#{@application.current_step}_step", :f => f %></br>
<p> <%= f.submit "Continue" %></p>
<p> <%= f.submit "Back", :name => "back_button" %></p>
<% end %>

<%#= link_to 'Back', applications_path %>
