<%= simple_form_for @application do |f| %>
<div class = "page-content">
<h3> App Manager </h3>
<p> The App Manager allows you to interact with certain components that may be required while building a mobile application.
	<div class = "content-text">
	<div id="text">
		<div id="icon">
		<img src="/assets/pages.gif" >
		</div>
		<div id="text-content">
		<h6> Page Manager </h6>
		<p> Where you can Add,Remove and Edit Pages in the App</p>
		</div>
	</div></br>

	<div id="text">
		<div id="icon">
		<img src="/assets/resource.jpeg" >
		</div>
		<div id="text-content">
		<h6> Resource Manager </h6>
		<p> Where you can Add,Remove and Edit images,videos and sounds of the App</p>
		</div>
	</div></br>

	<div id="text">
		<div id="icon">
		<img src="/assets/ldb.jpeg" >
		</div>
		<div id="text-content">
		<h6> Local Database </h6>
		<p> Where you can Add,Remove and Edit local database of the App</p>
		</div>
	</div></br>

	<div id="text">
		<div id="icon">
		<img src="/assets/rdb.jpg" >
		</div>
		<div id="text-content">
		<h6> Remote Database </h6>
		<p> Where you can Add,Remove and Edit remote database of the App</p>
		</div>
	</div></br>

	<div class="content-text2">
	<div id="text">
		<div id="icon">
		<img src="/assets/services.jpeg" >
		</div>
		<div id="text-content">
		<h6> Service </h6>
		<p> Where you can Add,Remove and Edit services of your App</p>
		</div>
	</div></br>

	<div id="text">
		<div id="icon">
		<img src="/assets/location.jpg" >
		</div>
		<div id="text-content">
		<h6> Location </h6>
		<p> Where you can Add,Remove and Edit location based-services of the App</p>
		</div>
	</div></br>

	<div id="text">
		<div id="icon">
		<img src="/assets/local.jpeg" >
		</div>
		<div id="text-content">
		<h6> Localisation </h6>
		<p> Where you can Add,Remove and Edit localization properties of the App</p>
		</div>
	</div></br>

	<div id="text">
		<div id="icon">
		<img src="/assets/app_prop.jpeg" >
		</div>
		<div id="text-content">
		<h6> Application Property </h6>
		<p> Edit Globalization Setting for your App</p>
		</div>
	</div>
</div>
</div>
<% end %>
</div>


<%#= link_to 'Edit', edit_application_path(@application) %> 
<%#= link_to 'Back', applications_path %>
