/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* ------------  Wrapper  ------------- */

#TopWrapper{background: url('/assets/bg_topheader.jpg') repeat-x;}
#Content1Wrapper{background: #cccccc;}
#Content2Wrapper{background: #8e8e8e; overflow: hidden;}
#Content3Wrapper{background: #cccccc;}
#FooterAWrapper{background: #7b7b7b;}
#FooterBWrapper{background: #2a2a2a;}

#Top, #Content1, #Content2, #Content2Top, #Content3, #FooterA, #FooterB {margin: 0 auto; width: 1142px;}
#Top {background: url('/assets/bg_headerimg.jpg') repeat-y; width: 1142px; height: 142px;}
#Content1 {background: url('/assets/bg_center_top.jpg') no-repeat; width: 1142px; height: 79px;}
#Content2 {background: url('/assets/bg_center_middle.jpg') repeat-y;}
#Content2Top {background: url('/assets/bg_center_middle.jpg') repeat-y;}
#Content3 {background: url('/assets/bg_center_bottom.jpg') no-repeat; height: 102px;}
#FooterA {background: #0d1c32;}
#FooterB {background: url('/assets/bg_footergr.png') repeat-y; height: 96px;}

#ConsoleTop {margin: 0 auto; background: url('/assets/console/cntrlframe_top.png') no-repeat; width: 1013px; height: 28px;}
#ConsoleMiddle {margin: 0 auto; background: url('/assets/console/cntrlframe_middle.png') repeat-y; width: 1013px;}
#ConsoleBottom {margin: 0 auto; background: url('/assets/console/cntrlframe_bottom.png') no-repeat; width: 1013px; height: 28px;}

#gotoTop {margin: 80px 90px 0 0; text-align: right; font-size: xx-small; font-weight: bold; text-align: right; text-indent: 15px;}

.clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.clearfix { min-height:1%; } /*investigate if removable*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* ------------  Logo  ------------- */

#Logo {float: left; padding: 10px 60px 0 60px;}


#ContentsForm {margin: 0 0 60px 0; padding: 0 0 0 0; width: 860px; height: auto; }


.main {
	background: #8e8e8e;
	margin-left: 80px;
	margin-right: 80px;
}

/*#mainForm {
	background: #F4FBF9;
	margin-right: 120px;
	margin-left: 120px;
}*/
.ContentsForm .spacer {
	padding:10px 0;
}

h2.Title4 {
	margin-top: 0px;
	margin-left: 80px;
	font: bold 16px/normal Myriad, sans-serif;
	color: #3d6799;
}

.ContentsForm {
	margin-left: 70px;
	font: bold 10px/normal Myriad, sans-serif;
	margin-bottom: 20px;
}


.Table {
	margin-left: 180px;

}
table.hovertable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.hovertable th {
  background-color:#CCCCCC;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
table.hovertable tr {
  background-color:#d4e3e5;
}
table.hovertable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}