/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
    overflow:hidden;
    /*background:url('/assets/bg.png');*/
}

/*sign_up page css*/

.containerwrapper {
	background-color: #C90404;
	border-radius: 15px ;
	font-family: 'Source Sans Pro', sans-serif;
	height: 250px;
	width: 550px;
	position: absolute;
	left: 33%;
	overflow:hidden;
	top: 300px;
	bottom: 100px;
}


.rowwrapper{
	margin-left :20px;
}



/*Footer*/
.footer {
	float: left;
	margin-bottom: 5px;
	color: #999;
	font-size: 10px;
	margin-top :840px;
	margin-left :20px;
	margin-right :100px;
}

/*Header*/
.header {
	background-color: #C90404;
	font-family: 'Source Sans Pro', sans-serif;
	height: 35px;
	overflow:hidden;
	width: 100%;
}

.headerwrapper {

	font-weight: 5px;
}